@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
 
/** { box-sizing: border-box; }*/
body{
  background: #ffffff;
    font-family: 'Montserrat';
    overflow-x: hidden;
    
    max-width: 100%;
}
h1,h2,h3{
  font-weight: bold;
}
h1{
  color:#252525;
  font-size: 3em;
  line-height: 50px;
}
h2{
  color: #353535;
  font-size: 2em;
  padding-bottom: 10px;
}
h3{
  font-size: 1em;
  margin-bottom: 0;
}

h3,a{color: #454545;}
html{
  -webkit-font-smoothing:antialiased;
 
  overflow-x: hidden;
}
a{
  color: #252525;
  -webkit-transition:0.5s;
  transition: 0.5s;
  text-decoration:none !important;
}
a:hover,a:focus,a:active{
  
  outline:none;
}
::-webkit-scrollbar{
  width:8px;
  height: 8px;
}
::-webkit-scrollbar-thumb{
  cursor: pointer;
  background: #000;
}
section{
  position: relative;
  padding: 100px 0;
}
.maincontainer{
  width: 100%;
}
/*-----------------
        LOADER
------------------*/
/*----------------
      BUTTON
------------------*/
.section-btn {
    background: #ce3232;
    border-radius: 0;
    border: 0;
    color: #f9f9f9;
    font-size: inherit;
    font-weight: normal;
    padding: 10px 25px;
    transition: 0.5s 0.2s;
  }
/*-------------------
        MENU
-------------------*/

  .custom-navbar {
    border: none;
    margin-bottom: 0;
    padding: 10px 0;
    font-family: 'Montserrat';
  }

  .custom-navbar .navbar-brand {
   /* color: #ffffff;*/
    font-size: 15px;
    font-weight: bold;
  }

  .custom-navbar .navbar-brand span {
    color: #ce3232;
  }

  .top-nav-collapse {
    background: #ffffff;
  }

  .custom-navbar .navbar-nav.navbar-nav-first {
    margin-left: 6em;
  }

  .custom-navbar .navbar-nav.navbar-right li a {
    padding-right: 12px;
    padding-left: 12px;
  }

  .custom-navbar .navbar-nav.navbar-right .section-btn {
    display: inline-block;
    margin: 0.2em 0 0 1em;
  }

  .custom-navbar .navbar-nav.navbar-right .section-btn:hover {
    background: #292929;
    color: #ffffff;
  }

  .custom-navbar .navbar-nav.navbar-right .section-btn:focus {
    color: #ffffff;
  }

  .custom-navbar .navbar-nav.navbar-right .section-btn a {
    padding: 10px 25px;
  }

  .custom-navbar .nav .section-btn a:hover {
    color: #ffffff;
  }

  .custom-navbar .nav li a {
    font-size: 12px;
    font-weight: bold;
   /*color: #ffffff;*/
    padding-right: 22px;
    padding-left: 22px;
    text-transform: uppercase;
  }

  .custom-navbar .nav li a:hover {
    background: transparent;
    color: #ce3232;
  }
  .custom-navbar .nav li:hover {
    background: #fff;
    
  }

  .custom-navbar .navbar-nav > li > a:hover,
  .custom-navbar .navbar-nav > li > a:focus {
    background-color: transparent;
  }

  .custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #ce3232;
  }

  .custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
  }

  .custom-navbar .navbar-toggle {
    background-color: transparent;
  }

  .custom-navbar .navbar-toggle .icon-bar {
    background: #252525;
    border-color: transparent;
  }

  @media(min-width:768px) {
    .custom-navbar {
      border-bottom: 0;
      background: 0 0;
      background-color: #ffffff; 
    }

    .custom-navbar.top-nav-collapse {
      background: #ffffff;
      -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      padding: 12px 0;
    }

    .top-nav-collapse .navbar-brand {
      color: #454545;
    }

    .top-nav-collapse .nav li a {
      color: #575757;
    }

    .top-nav-collapse .nav .section-btn a {
      color: #ffffff;
    }
  }
  @media screen and (max-width: 1170px) {
    .custom-navbar .navbar-nav.navbar-nav-first {
      margin-left: inherit;
    }
  }
  @media only screen and (max-width: 992px) {
    section {
      padding: 60px 0;
    }

    .custom-navbar .section-btn {
      margin-left: 1em;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .custom-navbar .nav li a {
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  @media only screen and (max-width: 767px) {
    .custom-navbar {
      background: #ffffff;
      -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      padding: 10px 0;
      text-align: center;
    }

    .custom-navbar .nav li a {
      line-height: normal;
      padding: 10px;
    }

    .custom-navbar .navbar-brand,
    .top-nav-collapse .navbar-brand {
      color: #252525;
      font-weight: 600;
    }

    .custom-navbar .nav li a,
    .top-nav-collapse .nav li a {
      color: #575757;
    }

    .custom-navbar .navbar-nav.navbar-right li {
      display: inline-block;
    }

    .custom-navbar .navbar-nav.navbar-right .section-btn {
      display: block !important;
      width: 50%;
      margin: 10px auto 10px auto;
      padding: 10px;
    }

    .custom-navbar .section-btn a {
      color: #ffffff !important;
    }
  }

/*---------------------
        HOME
---------------------*/
#home{
  padding: 0;
}
#home h1{
  color: #fff;
  padding-bottom: 30px;
}
@media (min-width:768px)
{
  .header .col-md-8{
    padding-left: 0;
  }
}

.header .item{
  background-position: inherit;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
}
.header .item-first{
  background-image: url(../img/pubg.jpeg);
  background-size: 100% 100%;
}

@media only screen and (max-width: 992px){
  .header .item{
    background-position: center;
  }
}
@media only screen and (max-width: 767px){
  .header .item{
    padding: 0;
  }
}
@media (max-width: 576px){
  .header .item-first{
    height: 96vh;
  }
}
/*---------
  TITLE
-----------*/
.title{
  margin:auto;
  width: 90%;
  height: 10vh;
  justify-content: center;
  align-items: center;
  display: flex;
  border-bottom: 1px solid #0d47a1;
}
.title h1{
  text-transform: uppercase;
  color:#0d47a1;
  font-size:25px;
  text-align: center;
}
@media (max-width: 567px){
  .title{
    max-width: 100%;
  }
  .title h1{
  font-size:20px;
  line-height: 2rem;
  }
}
/*----------------------
          ABOUT
-----------------------*/
.carousel {
  background: #ffffff;
}
.flickity-button {
  background: #ffffff;
  opacity: 0.6;
}
.flickity-page-dots{
  opacity: 0;
}
.carousel-cell2 {
  margin: 1rem;
  width: 95%;
  height: 20rem;
  margin-right: 10px;
  counter-increment: gallery-cell;
  color: #fff;
  flex-direction: column;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  padding: 1rem;
}
.aboutsection{
  text-align: center;
  border:none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
 background: linear-gradient(0deg,#00ff00,#ffffff);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
              0 3px 6px rgba(0,0,0,0.25);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
.carousel-cell2 p{
  font-size: 1.2em;
  margin-bottom: 0;
  color: #000;
}
@media (max-width:576px){
  p{
    font-size: 1.2em;
  }
  .carousel-cell2 {
  height: 28rem;
  }
}

/* cell number */
.carousel-cell2:before {
  display: block;
  text-align: center;
  line-height: 200px;  
}
 /*----------------------
        MEMBER
-----------------------*/
.carousel {
  background: #ffffff;
}

.carousel-cell {
  margin: 1rem;
  width: 95%;
  height: 20rem;
  margin-right: 10px;
  counter-increment: gallery-cell;
  color: #000;
  flex-direction: column;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  padding: 1rem;
  
}
.carousel-cell>div{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  border:none;
  background: linear-gradient(0deg,#0d47a1,#ffffff);
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
              0 3px 6px rgba(0,0,0,0.25);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;  
}
/*----------------
    IEEE member
----------------*/
.carousel-cell1 {
  margin: 1rem;
  width: 95%;
  height: 20rem;
  margin-right: 10px;
  counter-increment: gallery-cell;
  color: #000;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  padding: 1rem;
  
}
.box1{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  border:none;
  background: linear-gradient(0deg,#ff3300,#ffffff);
  width: 33.33%;
  height: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
              0 3px 6px rgba(0,0,0,0.25);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  font-size: 1em;
}
@media(max-width: 576px){
  .box1 h4{
    font-size: 0.9em;
  }
}

/*-----------------
      SCROLL
------------------*/
.to-top {
  background: black;
  position: fixed;
  bottom: 15px;
  right:15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:white;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active {
  bottom:15px;
  pointer-events: auto;
  opacity:1;
}
@media (min-width: 575px){
  .to-top{
    width:50px;
  height:50px;
  }
}
@media (max-width: 575px){
  .to-top{
    width:40px;
  height:40px;
  }
}
/*-------------------
      EVENTS
--------------------*/
/* Style the tab */
.tab {
  width: 90%;
  margin: auto;
  overflow: hidden;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  padding: 1rem;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #000;
  background:linear-gradient(0deg,#ffff00,#ffffff);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
              0 3px 6px rgba(0,0,0,0.25);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.tablinks{
  width: 50%;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgba(255,255,255,0.6);
   color: #000;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #fff;
  color: #000;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  color: #000;
  border-top: none;
  width: 90%;
  margin: auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
              0 3px 6px rgba(0,0,0,0.25);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
/*-----------------
      EVENTS
------------------*/
.details{
  max-width: 100%;
  margin:5px auto;
  display: grid;
  padding: 1rem;
  grid-gap: 2rem;
}
.details img{
  width: 100%;
  height: 30rem;
}
@media (min-width:577px){
  .details{
    grid-template-columns: repeat(4,1fr);
  }
  .details img{
    width: 100%;
    height: 45rem;
  }
}
@media (max-width:576px){
  .details{
    grid-template-columns: repeat(1,1fr);
  }
  .details img{
    width: 100%;
    height: 30rem;
  }
}
/*---------------------
        CONTACT
----------------------*/
.contactpage{
   max-width: 100%;
  margin:5px auto;
  display: grid;
  padding: 1rem;
  grid-gap: 2rem;
}
@media (min-width:577px){
  .contactpage{
    grid-template-columns: repeat(2,1fr);
  }
  .person p{
    font-size: 1em;
  }
}
@media (max-width:576px){
  .contactpage{
    grid-template-columns: repeat(1,1fr);
  }
  .person p{
    font-size: 0.8em;
  }
}
.contactbox{
  background:#ffffff;
  padding:1rem;
  height: 40rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  color:#0d47a1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
iframe,.contactperson{
  border:none;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
              0 3px 6px rgba(0,0,0,0.25);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.contactperson{
  color: #000;
  display: flex;
  flex-direction: column;
  font-size: 1em;
   padding: 1.2rem;
}
.person{
  text-align: left;
  line-height: 1.6rem;
 
}
.person p{
  color: #454545;
  font-weight: bold;
}

/*---------------
  SOCIAL MEDIA
----------------*/

.socialmedia{
   max-width: 95%;
  margin:5px auto;
  display: grid;
  padding: 1rem;
  grid-gap: 2rem;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.mediabox{
  border:none;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
              0 3px 6px rgba(0,0,0,0.25);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#facebook{
  color: #3b5998;
}
#youtube{
  color: #ff0000;
}
@media (min-width:577px){
  .socialmedia{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width:576px){
  .socialmedia{
    grid-template-columns: repeat(2,1fr);
  }
}
/*-----------------
      FOOTER
-----------------*/
.footer{
   max-width: 100%;
  margin:5px auto;
  display: grid;
  padding: 1rem;
  grid-gap: 2rem;
}
@media (min-width:577px){
  .footer{
    grid-template-columns: repeat(1,1fr);
  }
 }
@media (max-width:576px){
  .contactpage{
    grid-template-columns: repeat(1,1fr);
  }
}
.footerdetail{
  width: 100%;
  height: 13rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #000;
}
.footerdetail a{
  margin:5px;
}
.footerdetail p{
  font-size: 1em;
  text-align: center;
}
@media (max-width: 576px){
  .footerdetail p{
  font-size: 0.8em; 
  }
}
.socialmediapu{
  width: 50%;
  height: 30%;
  justify-content: center;
  align-items: center;
  display: flex;
}
#twitter{
  color: #1DA1F2;
}
#linkedin{
  color: #0e76a8;
}
#instagram{
 background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
}